header {
    background-color: #6b4f31;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}

header {
    background-color: #6b4f31;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nnav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
}

